.highlight-change1-old {
    background-color: #ffcccc;
    color: #990000;
}

.highlight-change1-new {
    background-color: #ccffcc;
    color: #006600;
}

.highlight-change2-old {
    background-color: #ccccff;
    color: #000099;
}

.highlight-change2-new {
    background-color: #ffccf2;
    color: #cc0099;
}

.highlight-change3-old {
    background-color: #ffccff;
    color: #990099;
}

.highlight-change3-new {
    background-color: #ebccff;
    color: #6600cc;
}

.highlight-change4-old {
    background-color: #ffeecc;
    color: #996633;
}

.highlight-change4-new {
    background-color: #ccffff;
    color: #003366;
}

.highlight-change5-old {
    background-color: #e6e6ff;
    color: #3333cc;
}

.highlight-change5-new {
    background-color: #e6ffe6;
    color: #339933;
}

.highlight-change6-old {
    background-color: #ffe6e6;
    color: #cc3333;
}

.highlight-change6-new {
    background-color: #e6ffff;
    color: #339999;
}

.diff-container {
    display: flex;
    gap: 20px;
}

.deleted-line {
    text-decoration: line-through;
    background-color: #ffccf2;
    color: red;
}

.inserted-line {
    background-color: #d4fcbc;
    color: green;
}

.file-content {
    width: 45%;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    white-space: pre-wrap;
    font-family: monospace;
    overflow-x: auto;
}
